body{
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
    position:relative;
    text-align: center;
    color:beige;
    font-size: 160%;
    /* Trying to use Candlelight font doesn't work here */
}
.waves{
    position:relative;
    text-align: center;
    font-size: 250%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#first{
    color:white;
}
#second{
    color:black;
}
.hillView{
    position:relative;
    text-align: center;
    color:black;
    font-size: 200%; 
    margin-top: 30px;
    margin-bottom: 30px;
}
.woods{
    position:relative;
    text-align: center;
    color:white;
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.centerPic{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}
#body{
    text-align: center;
    border-style: double;
    border-bottom-width: thick;
    border-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 90px;
    margin-left: 90px;
    font-size: 200%;
    color:white;
    font-weight: 700;
}